@{
    ViewData["Title"] = "Creating new folder";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="CreateNewFolder" asp-controller="Folder" method="post">
    <div>
        <label for="folderName">Folder Name:</label>
        <input type="text" id="FolderName" name="FolderName" required />
        <input type="hidden" id="CurrentPath" name="CurrentPath" value=@ViewBag.CurrentPath>
    </div>
    
    <div>
        <button type="submit" class="btn btn-primary">Create Folder</button>
    </div>
</form>